<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Rewriting KNoT Gateway client with Ionic</title>

		<link rel="stylesheet" href="reveal.js/css/reveal.css">
		<link rel="stylesheet" href="reveal.js/css/theme/white.css">
		<link rel="stylesheet" href="css/theme/cesar.css">
		<link rel="stylesheet" href="css/pres.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="css/theme/github.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'reveal.js/css/print/pdf.css' : 'reveal.js/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>Rewriting the KNoT Gateway client with Ionic</h2>
					<p>Thiago Figueredo Cardoso</p>
				</section>

				<!-- KNoT -->
				<section data-transition="slide">
					<section>
						<h4 class="fragment grow" data-fragment-index="0">KNoT?</h4>
						<h4 class="fragment semi-fade-out" data-fragment-index="0">Gateway client?</h4>
						<h4 class="fragment semi-fade-out" data-fragment-index="0">Rewrite?</h4>
						<h4 class="fragment semi-fade-out" data-fragment-index="0">Ionic?</h4>
					</section>

					<section>
						<a href="https://knot.cesar.org.br" target=_blank>
							<img src="imgs/knot_logo.png" height="300px" />
						</a>
						<p>The open source meta platform for IoT</p>

						<aside class="notes" data-markdown>
							- Meta platform for IoT
							- Currently mainly developed at CESAR
						</aside>
					</section>

					<section>
						<img src="imgs/knot_arch.png" height="600px" />

						<aside class="notes" data-markdown>
							- Glue that connects hardware and software platforms
							- Components: devices, gateway, cloud providers
							- Devices: the "things" (sensors/actuators)
							- Gateway: connects non-internet connected things
							- Cloud: stores/process/routes messages
						</aside>
					</section>
				</section>

				<!-- Gateway client (Web UI) -->
				<section data-transition="slide">
					<section>
						<h4 class="fragment semi-fade-out" data-fragment-index="0"><strike>KNoT?</strike></h4>
						<h4 class="fragment grow" data-fragment-index="0">Gateway client?</h4>
						<h4 class="fragment semi-fade-out" data-fragment-index="0">Rewrite?</h4>
						<h4 class="fragment semi-fade-out" data-fragment-index="0">Ionic?</h4>
					</section>

					<section>
						<img src="imgs/knot_arch_low.png" height="600px" />

						<aside class="notes" data-markdown>
							- Repositories with source of each component
							- This rewrite is about the webui (gateway client)
						</aside>
					</section>

					<section>
						<img src="imgs/knot_arch_low_annotated.png" height="600px" />
					</section>

					<section>
						<p>Current gateway client is a web app</p>
						<ul>
							<li>Mongo</li>
							<li>Express</li>
							<li>Angular (1.x) + Bootstrap</li>
							<li>Node</li>
						</ul>
					</section>

					<section>
						<div class="stack">
							<ul>
								<li><img src="imgs/webui-1.png" /></li>
								<li class="fragment"><img src="imgs/webui-2.png" /></li>
								<li class="fragment"><img src="imgs/webui-3.png" /></li>
								<li class="fragment"><img src="imgs/webui-4.png" /></li>
								<li class="fragment"><img src="imgs/webui-5.png" /></li>
							</ul>
						</div>
					</section>
				</section>

				<!-- Problems -->
				<section data-transition="slide">
					<section>
						<h4 class="fragment semi-fade-out" data-fragment-index="0"><strike>KNoT?</strike></h4>
						<h4 class="fragment semi-fade-out" data-fragment-index="0"><strike>Gateway client?</strike></h4>
						<h4 class="fragment grow" data-fragment-index="0">Rewrite?</h4>
						<h4 class="fragment semi-fade-out" data-fragment-index="0">Ionic?</h4>
					</section>

					<section>
						<h3>Problems</h3>
						<ul>
							<li>No package management or build system</li>
							<li class="fragment">Old versions of AngularJS and JS (ES5)</li>
							<li class="fragment">Non-responsive layout</li>
							<li class="fragment">Fragile back-end</li>
							<li class="fragment">Lack of developers</li>
						</ul>
					</section>

					<section>
						<p><span class="fragment strike semi-fade-out" data-fragment-index="2">Improve current or</span> rewrite<span class="fragment strike semi-fade-out" data-fragment-index="2">?</span></p>
						<p class="fragment" data-fragment-index="0"><span class="fragment strike semi-fade-out" data-fragment-index="2">Replace with an Android app?</span></p>
						<p class="fragment" data-fragment-index="1">Use a hybrid app framework?</p>
						<p class="fragment" data-fragment-index="2">React Native, Native Script or Ionic?</p>
					</section>
				</section>

				<!-- Ionic -->
				<section data-transition="slide">
					<section data-transition="fade-out">
						<div class="grid">
							<div class="grid-cell-full">
								<a href="https://ionicframework.com" target="_blank">
									<img src="imgs/ionic_logo.png" width="300px" />
								</a>
							</div>
							<div class="grid-cell fragment">
								<p>Hybrid apps</p>
							</div>
							<div class="grid-cell fragment">
								<q>One code base.<br/>Running everywhere.</q>
							</div>
							<div class="grid-cell fragment">
								<p>Open source<br/>(MIT)</p>
							</div>
						</div>
					</section>

					<section data-transition="fade-in">
						<div class="angular-cordova-logos">
							<h2>
								<a href="https://ionicframework.com" target="_blank">
									<img src="imgs/ionic_icon.png" height="100px" />
								</a>
								<span class="fragment fade-in">
								=
								<a href="https://angular.io" target="_blank">
									<img src="imgs/angular_logo.png" height="100px" />
								</a>
								</span>
								<span class="fragment fade-in">
								+
								<a href="https://cordova.apache.org" target="_blank">
									<img src="imgs/cordova_logo.png" height="100px" />
								</a>
								</span>
							</h2>
						</div>
						<p class="fragment">Application is a web app inside a web view</p>

						<aside class="notes" data-markdown>
							- No native UI
							- Native components through Cordova
						</aside>
					</section>

					<section>
						<h3>Getting started</h3>
						<pre><code class="bash" data-trim contenteditable>
						$ npm install -g cordova ionic
						$ ionic start MyApp blank
						$ cd MyApp
						$ ionic serve
						</code></pre>

						<aside class="notes" data-markdown>
							- Useful options to start: --yarn and --skip-link
							- I tried using yarn to install globally but it wasn't working properly with VS Code
						</aside>
					</section>

					<section>
						<h3>Alternative: Ionic Creator</h3>
						<div class="stack">
							<ul>
								<li><img src="imgs/creator-1.png" /></li>
								<li class="fragment"><img src="imgs/creator-2.png" /></li>
								<li class="fragment"><img src="imgs/creator-3.png" /></li>
							</ul>
						</div>

						<aside class="notes" data-markdown>
							- Has limitations
							- Not 100% free
						</aside>
					</section>

					<section>
						<h3>Ionic bootstrap</h3>
						<div class="grid">
							<div class="grid-cell-no-grow">
								<img src="imgs/bootstrap-0.png" width="246px" />
							</div>
							<div class="grid-cell-no-grow grid-cell-text-align-left">
								<p>Configuration files:</p>
								<ul>
									<li>TypeScript</li>
									<li>Node</li>
									<li>Cordova</li>
								</ul>
							</div>
						</div>
					</section>

					<section>
						<h3>Ionic bootstrap</h3>
						<div class="grid">
							<div class="grid-cell-no-grow">
								<img src="imgs/bootstrap-1.png" width="246px" />
							</div>
							<div class="grid-cell-no-grow grid-cell-text-align-left">
								<p>Progressive Web App stuff</p>
							</div>
						</div>
					</section>

					<section>
						<h3>Ionic bootstrap</h3>
						<div class="grid">
							<div class="grid-cell-no-grow">
								<img src="imgs/bootstrap-2.png" width="246px" />
							</div>
							<div class="grid-cell-no-grow grid-cell-text-align-left">
								<p>Mobile assets:</p>
								<ul>
									<li>Splash</li>
									<li>Icons</li>
									<li>...</li>
								</ul>
							</div>
						</div>
					</section>

					<section>
						<h3>Ionic bootstrap</h3>
						<div class="grid">
							<div class="grid-cell-no-grow">
								<img src="imgs/bootstrap-3.png" width="246px" />
							</div>
							<div class="grid-cell-no-grow grid-cell-text-align-left">
								<p>The application:</p>
								<ul>
									<li>app: main module</li>
									<li>pages: page modules</li>
									<li>theme: theming SASS files</li>
								</ul>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- Theme contains default theme
							- It is the place to override current or create a new
							- e.g.: change colors
						</aside>
					</section>

					<section>
						<h3>Ionic bootstrap</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/bootstrap_app.png" width="246px" />
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<pre><code class="html" data-trim contenteditable>
								<ion-nav [root]="rootPage"></ion-nav>
								</code></pre>
								<p>The <a href="http://ionicframework.com/docs/api/components/nav/Nav" target="_blank">ion-nav</a> is the basic <a href="http://ionicframework.com/docs/components/#navigation" target="_blank">navigation</a> component.</p>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- ion-nav is a stack based navigation component
						</aside>
					</section>

					<section>
						<h3>Ionic bootstrap</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/bootstrap_app.png" width="246px" />
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<pre><code class="typescript" data-trim data-noescape contenteditable>
								import ...

								<mark>@Component({</mark>
								  templateUrl: 'app.html'
								})
								export class MyApp {
								  <mark>rootPage:any = HomePage;</mark>

								  constructor(platform: Platform, ...) {
								    <mark>platform.ready().then(() => {</mark>
								        statusBar.styleDefault();
								        splashScreen.hide();
								      });
								    }
								}
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- It is an Angular component
							- rootPage is referenced in the template
							- Cordova plugins to deal with the platform
						</aside>
					</section>

					<section>
						<h3>Ionic bootstrap</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/bootstrap_page.png" width="246px" />
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<pre><code class="html" data-trim contenteditable>
								<ion-header>
								  <ion-navbar>
								    <ion-title>
								      Ionic Blank
								    </ion-title>
								  </ion-navbar>
								</ion-header>

								<ion-content padding>
								  The world is your oyster.
								</ion-content>
								</code></pre>
								<p>Basic page structure is <a href="http://ionicframework.com/docs/api/components/toolbar/Header/" target="_blank">ion-header</a> and <a href="http://ionicframework.com/docs/api/components/content/Content/" target="_blank">ion-content</a>.</p>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- ion-navbar relates to ion-nav
						</aside>
					</section>

					<section>
						<img src="imgs/bootstrap_serve.png" />
					</section>
				</section>

				<!-- Gateway client prototype -->
				<section data-transition="slide">
					<section>
						<h3>The prototype</h3>
						<div class="align-left">
							<p>Ordinary CRUD application:</p>
							<ul>
								<li>Sign in form</li>
								<li>Devices list (read/update)</li>
							</ul>
							<p>with <b>gateway search</b> as mobile-only feature.</p>
						</div>
					</section>

					<section>
						<h3>Main doubts</h3>
						<ul>
							<li>How is a form view written?</li>
							<li class="fragment">How is a list view written?</li>
							<li class="fragment">How to update list views in real-time?</li>
							<li class="fragment">How to split mobile-only and common features?</li>
							<li class="fragment">How to handle different devices (Android, iOS, Desktop) and screen sizes?</li>
						</ul>
					</section>

					<section>
						<h3>Evaluation guidelines</h3>
						<ul>
							<li class="fragment">How to use (or look like) native view components?</li>
							<li class="fragment">Does the framework provide it out-of-the-box? If not, how easy it is to implement a custom solution?</li>
						</ul>
					</section>
				</section>

				<!-- Sign in page -->
				<section data-transition="slide">
					<section>
						<h4>How is a form view written?</h4>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_generate.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Generate a page:</p>
								<pre><code class="bash" data-trim>
								$ ionic generate page SignIn
								</code></pre>
								<p>It doesn't include the module in any component, must be made manually.</p>
							</div>
						</div>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Add the inputs and labels:</p>
								<pre><code class="html" data-noescape data-trim>
								...
								  &lt;<mark>ion-label</mark> floating&gt;E-mail&lt;/ion-label&gt;
								  &lt;<mark>ion-input</mark> type="email"&gt;&lt;/ion-input&gt;
								...
								</code></pre>
								<p><a href="http://ionicframework.com/docs/components/#inputs" target="_blank">ion-input</a> replaces HTML input.</p>
							</div>
						</div>

						<aside class="notes" data-markdown>
							The `floating` directive makes the label float when data is being entered. Other possible directives: fixed, stacked.
						</aside>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Add the "layout manager":</p>
								<pre><code class="html" data-noescape data-trim>
								...
								<mark>&lt;ion-list&gt;</mark>
								  <mark>&lt;ion-item&gt;</mark>
								    &lt;ion-label floating&gt;E-mail&lt;/ion-label&gt;
								    &lt;ion-input type="email"&gt;&lt;/ion-input&gt;
								  &lt;/ion-item&gt;
								...
								</code></pre>
								<p>A list (<a href="http://ionicframework.com/docs/api/components/list/List/" target="_blank">ion-list</a>) is commonly used to layout forms.</p>
							</div>
						</div>

						<aside class="notes" data-markdown>
							The `ion-item` will bind the `ion-label` to the `ion-input`.
						</aside>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Add the button:</p>
								<pre><code class="html" data-noescape data-trim>
								...
								&lt;/ion-list&gt;

								&lt;div padding&gt;
								  &lt;button <mark>ion-button</mark> block&gt;Sign In&lt;/button&gt;
								&lt;/div&gt;
								...
								</code></pre>
								<p><a href="http://ionicframework.com/docs/components/#buttons" target="_blank">ion-button</a> is a directive rather than an element.</p>
							</div>
						</div>

						<aside class="notes" data-markdown>
							The `block` directive makes it fill the width. Other possible directives: `outline`, `clear`, `round`.
						</aside>
					</section>

					<section>
						<img src="imgs/signin_lab.png" />

						<aside class="notes" data-markdown>
							To open the Ionic Lab: `$ ionic lab`
						</aside>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Make it a form:</p>
								<pre><code class="html" data-noescape data-trim>
								...
								<mark>&lt;form [formGroup]="signInForm"
								    (ngSubmit)="signIn(signInForm.value)"&gt;</mark>
								...
								    &lt;ion-label floating&gt;E-mail&lt;/ion-label&gt;
								    &lt;ion-input ... <mark>formControlName="email"</mark>&gt;
								...
								  &lt;button ion-button block <mark>type="submit"</mark>&gt;
								...
								</code></pre>
								<p>Regular Angular <a href="https://angular.io/guide/forms" target="_blank">form</a>.</p>
							</div>
						</div>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Disable button when invalid:</p>
								<pre><code class="html" data-noescape data-trim>
								...
								&lt;button ion-button block type="submit"
								  <mark>[disabled]="!signInForm.valid"</mark>&gt;
								  Sign In
								&lt;/button&gt;
								...
								</code></pre>
							</div>
						</div>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_component.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Create form and its validation:</p>
								<pre><code class="typescript" data-noescape data-trim>
								export class SignInPage {
								  private signInForm: <mark>FormGroup</mark>;

								  constructor(private fb: <mark>FormBuilder</mark>) {
								    this.signInForm = this.fb
								      .group({
								        email: ['', [<mark>Validators</mark>.required,
								                     Validators.email]],
								        password: ['', Validators.required]
								    });
								  }
								...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							`signInForm` is the value bound to `formGroup` directive in template.
						</aside>
					</section>

					<section>
						<h3>Auth service</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/auth_service_generate.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Generate a service:</p>
								<pre><code class="bash" data-trim>
								$ ionic generate provider AuthService
								</code></pre>
								<p>It adds the provider to application module providers' list</p>
							</div>
						</div>

						<aside class="notes" data-markdown>
							Generator adds the provider suffix, manually removed in the example.
						</aside>
					</section>

					<section>
						<h3>Auth service</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/auth_service_generate.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Create sign in/out methods:</p>
								<pre><code class="typescript" data-trim data-noescape>
								<mark>@Injectable()</mark>
								export class AuthService {
								  ...
								  signIn(credentials): <mark>firebase</mark>.Promise&lt;any&gt; {
								    return this.afAuth.auth
								      .signInWithEmailAndPassword(
								        credentials.email,
								        credentials.password);
								  }

								  signOut(): ...
								  </code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							Firebase was used as a replacement of the real back-end, only for evaluation purposes.
						</aside>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_component.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Connect with auth service:</p>
								<pre><code class="typescript" data-noescape data-trim>
								export class SignInPage {
								...
								  constructor(<mark>private auth: AuthService</mark>, ...
								  }
								...
								  signIn() {
								    <mark>this.auth.signIn(credentials)</mark>
								      .then(() => this.onSignInSuccess(),
								            () => this.onSignInFailure());
								  }
								...
								</code></pre>
							</div>
						</div>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_component.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Act on success (<a href="http://ionicframework.com/docs/api/util/Events/" target="_blank">events</a>):</p>
								<pre><code class="typescript" data-noescape data-trim>
								export class SignInPage {
								...
								  constructor(<mark>private events: Events</mark>, ...
								  }
								...
								  onSignInSuccess() {
								    <mark>this.events.publish('auth::success');</mark>
								  }
								...
								</code></pre>
								<p>or...</p>
							</div>
						</div>

						<aside class="notes" data-markdown>
							Another component must be listening to the event and act on it.
						</aside>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_component.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Act on success (<a href="http://ionicframework.com/docs/api/navigation/NavController/" target="_blank">navigate</a>):</p>
								<pre><code class="typescript" data-noescape data-trim>
								export class SignInPage {
								...
								  constructor(<mark>private navCtrl: NavController</mark>, ...
								  }
								...
								  onSignInSuccess() {
								    <mark>this.navCtrl.push(DevicesPage);</mark>
								  }
								...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							DevicesPage is the class that implements the next page.
						</aside>
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_component.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Create a <a href="http://ionicframework.com/docs/components/#loading" target="_blank">loading</a> dialog:</p>
								<pre><code class="typescript" data-noescape data-trim>
								export class SignInPage {
								...
								  constructor(<mark>private ldCtrl: LoadingController</mark>, ...
								  }
								...
								  showLoading() {
								    <marl>this.loading = this.ldCtrl.create({</mark>
								      content: 'Signing in...',
								      dismissOnPageChange: true
								    });
								    this.loading.present();
								  }
								...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							Dialog is shown while authenticating and dismissed with `this.loading.dismiss()` in case of error.
						</aside>
					</section>

					<section>
						<img src="imgs/signin_lab_loading.png" />
					</section>

					<section>
						<h3>Sign in page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/signin_component.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Create an <a href="http://ionicframework.com/docs/components/#alert" target="_blank">error</a> dialog:</p>
								<pre><code class="typescript" data-noescape data-trim>
								export class SignInPage {
								...
								  constructor(<mark>private alertCtrl: AlertController</mark>, ...
								  }
								...
								  showError() {
								    <mark>const alert = this.alertCtrl.create({</mark>
								      message: 'Invalid credentials. Try again.',
								      buttons: ['OK']
								    });
								    alert.present(prompt);
								  }
								...
								</code></pre>
							</div>
						</div>
					</section>

					<section>
						<img src="imgs/signin_lab_error.png" />
					</section>

					<section>
						<h3>Sign in page - Summary</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell">
								<ul>
									<li><a href="https://ionicframework.com/docs/cli/generate/" target="_blank">CLI generators</a></li>
									<li><a href="http://ionicframework.com/docs/api/components/list/List/" target="_blank">ion-list</a></li>
									<li><a href="http://ionicframework.com/docs/components/#inputs" target="_blank">ion-label</a></li>
									<li><a href="http://ionicframework.com/docs/components/#inputs" target="_blank">ion-input</a></li>
									<li><a href="http://ionicframework.com/docs/components/#buttons" target="_blank">ion-button</a></li>
								</ul>
							</div>
							<div class="grid-cell">
								<ul>
									<li><a href="https://angular.io/guide/forms" target="_blank">Forms (Angular)</a></li>
									<li><a href="http://ionicframework.com/docs/api/util/Events/" target="_blank">Events</a></li>
									<li><a href="http://ionicframework.com/docs/api/navigation/NavController" target="_blank">NavController</a></li>
									<li><a href="http://ionicframework.com/docs/components/#loading" target="_blank">LoadingController</a></li>
									<li><a href="http://ionicframework.com/docs/components/#alert" target="_blank">AlertController</a></li>
								</ul>
							</div>
						</div>
					</section>
				</section>

				<section data-transition="slide">
					<section>
						<h4>How is a list view written?</h4>
						<h4>How to update list views in real-time?</h4>
					</section>

					<section>
						<h3>Devices page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/devices_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Add a <a href="http://ionicframework.com/docs/components/#list-headers" target="_blank">header</a> to the list:</p>
								<pre><code class="html" data-noescape data-trim>
								...
								&lt;ion-list&gt;
								  <mark>&lt;ion-list-header&gt;</mark>
								    'Devices'
								  &lt;/ion-list-header&gt;
								...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- The page has two lists, one of the available devices and the other of the known devices.
							- This is the list of available devices.
						</aside>
					</section>

					<section>
						<h3>Devices page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/devices_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Add a <a href="http://ionicframework.com/docs/api/components/spinner/Spinner/" target="_blank">spinner</a> to the header:</p>
								<pre><code class="html" data-noescape data-trim>
								...
								&lt;ion-list&gt;
								  &lt;ion-list-header&gt;
								    'Devices'
								    &lt;<mark>ion-spinner</mark> <mark>item-end</mark>&gt;&lt;/ion-spinner&gt;
								  &lt;/ion-list-header&gt;
								...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- The `item-end` directive will place the spinner at the end of the list item.
							- Another possible value is `item-start`.
						</aside>
					</section>

					<section>
						<h3>Devices page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/devices_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Change the header title based on current state:</p>
								<pre><code class="html" data-noescape data-trim>
								...
								&lt;ion-list&gt;
								  &lt;ion-list-header&gt;
								    {{ (hasAllowedDevices | <mark>async</mark>) ?
								        'Other Devices' :
								        'Devices' }}
								    &lt;ion-spinner item-end&gt;&lt;/ion-spinner&gt;
								  &lt;/ion-list-header&gt;
								...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							The [`async` pipe](https://angular.io/guide/pipes) allows to get data from an async attribute, such as an observable.
						</aside>
					</section>

					<section>
						<h3>Devices page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/devices_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Add the list items:</p>
								<pre><code class="html" data-noescape data-trim>
								...
								&lt;ion-list&gt;
								    ...
								  &lt;/ion-list-header&gt;
								  &lt;button <mark>ion-item</mark> detail-none
								    <mark>*ngFor="let device of notAllowedDevices
								    | async"</mark>&gt;
								  {{ device.name }}
								  &lt;/button&gt;
								...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- Use `*ngFor` to iterate over a collection.
							- The item is a `button` to be clickable, otherwise could be an `ion-item` element.
							- The `detail-none` directive hides an arrow that appears on iOS.
							- The [`async` pipe](https://angular.io/guide/pipes) allows to get data from an async attribute, such as an observable.
						</aside>
					</section>

					<section>
						<img src="imgs/devices_lab_emptylist.png" />
					</section>

					<section>
						<h3>Devices page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/devices_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Show the other list when not empty:</p>
								<pre><code class="html" data-noescape data-trim>
								...
								&lt;ion-list
								  <mark>*ngIf="(hasAllowedDevices | async)"</mark>&gt;
								  &lt;ion-list-header&gt;
								    My Devices
								  &lt;/ion-list-header&gt;
								...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- Use `*ngIf` to show an item conditionally.
							- The [`async` pipe](https://angular.io/guide/pipes) allows to get data from an async attribute, such as an observable.
						</aside>
					</section>

					<section>
						<h3>Devices page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/devices_template.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Add details to the list item:</p>
								<pre><code class="html" data-noescape data-trim>
								...
								&lt;ion-list
								  ...
								  &lt;button ion-item *ngFor="..."&gt;
								    {{ device.name }}
								    &lt;<mark>ion-note</mark> item-end&gt;
								      {{ device.online ?
								        'Online' :
								        'Offline' }}
								    &lt;/ion-note&gt;
								  &lt;/button&gt;
								...
								</code></pre>
							</div>
						</div>
					</section>

					<section>
						<h3>Devices service</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/devices_service.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Get data from the back-end:</p>
								<pre><code class="typescript" data-noescape data-trim>
								...
								@Injectable()
								export class DevicesService {
								  private devices: <mark>FirebaseListObservable</mark>&lt;any[]&gt;;
								  ...
								  <mark>ngOnInit()</mark> {
								    this.devices = db.list('/devices');
								  }

								  get allowedDevices(): <mark>Observable</mark>&lt;any[]&gt;
								  get notAllowedDevices(): Observable&lt;any[]&gt;
								  setDeviceAllowed(device, allowed): void
								...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- `db` is a `AngularFireDatabase`
							- `db.list` works a WebSocket connection
							- `ngOnInit` is the Angular initialization callback
							- Getters transform `this.devices` into `Observable`
						</aside>
					</section>

					<section>
						<h3>Devices page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/devices_component.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Connect with the service (<a href="https://angular.io/api/core/OnInit" target="_blank">ngOnInit</a>):</p>
								<pre><code class="typescript" data-noescape data-trim>
								...
								allowedDevices: <mark>Observable</mark>&lt;any[]&gt;;
								...
								constructor(devService: DevicesService ...
								<mark>ngOnInit()</mark> {
								  <mark>this.allowedDevices = this.devService
								    .allowedDevices</mark>;
								  ...
								  this.hasAllowedDevices =
								    <mark>this.allowedDevices
								      .map(d => d.length > 0)</mark>;
								}
								...
								</code></pre>
								<p>or...</p>
							</div>
						</div>
					</section>

					<section>
						<h3>Devices page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/devices_component.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>using <a href="http://blog.ionic.io/navigating-lifecycle-events" target="_blank">Ionic's page lifecycle hooks</a>:</p>
								<pre><code class="typescript" data-noescape data-trim>
								...
								allowedDevices: Observable&lt;any[]&gt;;
								...
								constructor(devService: DevicesService ...
								<mark>ionViewDidLoad()</mark> {
								  this.allowedDevices = this.devService
								    .allowedDevices;
								  ...
								}
								...
								</code></pre>
							</div>
						</div>
					</section>

					<section>
						<img src="imgs/devices_lab_fulllist.png" />
					</section>

					<section>
						<h3>Devices page - Summary</h3>
						<ul>
							<li><a href="http://ionicframework.com/docs/components/#list-headers" target="_blank">ion-list-header</a></li>
							<li><a href="http://ionicframework.com/docs/api/components/spinner/Spinner/" target="_blank">ion-spinner</a></li>
							<li><a href="https://angular.io/guide/pipe" target="_blank">Pipes (Angular)</a></li>
							<li><a href="http://ionicframework.com/docs/api/components/item/Item/" target="_blank">ion-item</a></li>
							<li><a href="https://angular.io/api/core/OnInit" target="_blank">ngOnInit (Angular)</a></li>
							<li><a href="http://blog.ionic.io/navigating-lifecycle-events"target="_blank">Page lifecycle hooks</a></li>
						</ul>
					</section>
				</section>

				<section data-transition="slide">
					<section>
						<h4>How to split mobile-only and common features?</h4>
					</section>

					<section>
						<h3>Gateways page</h3>
						<div class="stack">
							<ul>
								<li><img src="imgs/gateways_lab_emptylist.png" /></li>
								<li class="fragment"><img src="imgs/gateways_lab_fulllist.png" /></li>
							</ul>
						</div>

						<aside class="notes" data-markdown>
							- Built in the same way as the devices page
							- The difference is the service
						</aside>
					</section>

					<section>
						<h3>Gateways page</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/app_component.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Choose initial page based on platform:</p>
								<pre><code class="typescript" data-noescape data-trim>
								...
								ngOnInit(): void {
								  this.platform.ready().then(() => {
								    <mark>if (this.platform.is('cordova')) {</mark>
								      this.openGatewaysPage();
								    } else {
								      this.openSignInPage();
								    }

								    this.statusBar.styleDefault();
								    this.splashScreen.hide();
								  });
								...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- Other possible platforms: mobile, core, ios, android, ...
						</aside>
					</section>

					<section>
						<h3>Gateways service</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/gateways_service.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Install the <a href="https://ionicframework.com/docs/native/zeroconf/" target="_blank">zeroconf</a> plugin:</p>
								<pre><code class="bash" data-trim>
								$ ionic cordova plugin add cordova-plugin-zeroconf
								$ yarn add @ionic-native/zeroconf
								</code></pre>
							</div>
						</div>
					</section>

					<section>
						<h3>Gateways service</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/gateways_service.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Import the plugin:</p>
								<pre><code class="typescript" data-noescape data-trim>
								<mark>import { Zeroconf } from '@ionic-native/zeroconf';</mark>
								...
								@Injectable()
								export class GatewaysService {
								  ...
								  constructor(<mark>zeroconf: Zeroconf</mark> ...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- Zeroconf must be imported to the app module as well to be injected here
						</aside>
					</section>

					<section>
						<h3>Gateways service</h3>
						<div class="grid-no-wrap">
							<div class="grid-cell-no-grow-shrink">
								<img src="imgs/gateways_service.png" width="246px"/>
							</div>
							<div class="grid-cell grid-cell-text-align-left">
								<p>Use the plugin:</p>
								<pre><code class="typescript" data-noescape data-trim>
								...
								export class GatewaysService {
								  ...
								  start(): void {
								    <mark>this.zeroconf
								      .watch('_knot._tcp.', 'local.')</mark>
								        .subscribe(result =>
								          <mark>this.ngZone.run</mark>(() => {
								            // update observable
								            ...
								      }));
								  ...
								</code></pre>
							</div>
						</div>

						<aside class="notes" data-markdown>
							- `ngZone.run` is required to update the view
							- `NgZone` doesn't appear in the docs, but here: [https://github.com/ionic-team/ionic-native](https://github.com/ionic-team/ionic-native)
						</aside>
					</section>

					<section>
						<h3>Running on device</h3>
						<div class="align-left">
							<p>To run on the target device:</p>
							<ol>
								<li><a href="https://cordova.apache.org/docs/en/3.0.0/guide/platforms/index.html" target="_blank">Setup</a> Cordova for the target environment.</li>
								<li>Run:</li>
							</ol>
						</div>
						<pre><code class="bash" data-trim>
						$ ionic cordova run &lt;ios|android&gt;
						</code></pre>

						<div class="align-left">
							<p>Development related options:</p>
							<ul>
								<li>-l: enables live reloading</li>
								<li>-c: prints console logs to terminal</li>
								<li>-s: prints dev server logs to terminal</li>
							</ul>
						</div>

						<aside class="notes" data-markdown>
							`ionic cordova` is a wrapper to `cordova`.
							To target iOS a few tweaks might be required. I had problems with:
							- XCode 8.3 (needed to symlink one of its dirs)
							- A missing Python package
						</aside>
					</section>

					<section>
						<h3>Debugging on device</h3>
						<div class="align-left">
							<p>With <a href="https://github.com/Microsoft/vscode-cordova" target="_blank">Cordova Extension for VSCode</a> it is possible to debug the applicaton.</p>
							<p>This is recommended in the <a href="http://blog.ionic.io/cordova-extension-for-vscode/" target="_blank">Ionic blog</a>.</p>
						</div>

						<aside class="notes" data-markdown>
							- Couldn't debug on iOS
							- Required to setup `build.json` to run the application on iOS
							- Everything worked fine on Android.
						</aside>
					</section>

					<section>
						<div class="stack">
							<ul>
								<li><img src="imgs/debug-0.png" /></li>
								<li class="fragment"><img src="imgs/debug-1.png" /></li>
								<li class="fragment"><img src="imgs/debug-2.png" /></li>
							</ul>
						</div>
					</section>

					<section>
						<h3>Gateways page - Summary</h3>
						<ul>
							<li><a href="https://ionicframework.com/docs/native/zeroconf/" target="_blank">Zeroconf plugin</a></li>
							<li><a href="https://cordova.apache.org/docs/en/3.0.0/guide/platforms/index.html" target="_blank">Cordova setup</a></li>
							<li><a href="https://ionicframework.com/docs/cli/cordova/run/" target="_blank">Ionic Cordova CLI</a></li>
							<li><a href="http://blog.ionic.io/cordova-extension-for-vscode/" target="_blank">Cordova Extension for VS Code</a></li>
						</ul>
					</section>
				</section>

				<section data-transition="slide">
					<h4>How to handle different devices (Android, iOS, Desktop) and screen sizes?</h4>
					<!-- TODO: add sections -->

					<aside class="notes" data-markdown>
						- The responsive sign in page
						- The split pane
						- ShowWhen
						- The Google contacts example
					</aside>
				</section>

			</div>

		</div>

		<script src="reveal.js/lib/js/head.min.js"></script>
		<script src="reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				transition: 'none',
				width: 960,
				height: 700,
				dependencies: [
					{ src: 'reveal.js/plugin/markdown/marked.js' },
					{ src: 'reveal.js/plugin/markdown/markdown.js' },
					{ src: 'reveal.js/plugin/notes/notes.js', async: true },
					{ src: 'reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
