<ion-header>
    <ion-toolbar>
        <button ion-button icon-left menuToggle class="hidden-md">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Devices</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
    <ion-list *ngIf="(hasAllowedDevices | async)">
        <ion-list-header>
            My Devices
        </ion-list-header>

        <ion-item *ngFor="let device of allowedDevices | async">
            {{ device.name }}
            <ion-note item-end>
                {{ device.online ? 'Online' : 'Offline' }}
            </ion-note>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            {{ (hasAllowedDevices | async) ? 'Other Devices' : 'Devices'}}
            <ion-spinner item-end></ion-spinner>
        </ion-list-header>
        <ion-item *ngFor="let device of notAllowedDevices | async">
            {{ device.name }}
        </ion-item>
    </ion-list>
</ion-content>
